* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: #2B292D;
}

.container {
    width: 80%;
    max-width: 1280px;

    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #EFB9AF;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    box-shadow: 0 5px 10px #999;
    border-radius: 15px;
    margin-right: 20px;
}

.logo__div_bold {
    font-weight: bold;
    font-size: 20px;
}

.logo__div_span {
    opacity: 60%;
}

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul a {
    text-decoration: none;
    color: #2B292D;
    padding: 10px;
}

.nav ul a:hover {
    text-shadow: 0 0 2px #444;
}

.nav ul li:not(:last-child) {
    margin-right: 50px;
}

.nav li {
    position: relative;
}

.nav li:hover > ul {
    display: flex;
}

.nav li ul {
    flex-direction: column;
    background-color: #fff;
    padding: 40px 0px 0px 20px;
    position: absolute;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
    display: none;
    top: 30px;
}

.nav li ul li {
    padding-bottom: 40px;
    font-weight: bold;
}

.nav li ul li a:hover {
    color:#009B4D;
    text-shadow: none;
}

.nav li ul li ul {
    z-index: 2;
    right: -290px;
    top: -30px;
}

.getstarted {
    margin: 0 75px;

    padding: 18px 30px;
    background-color: #3040C4;
    border-radius: 5px;

    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-top: 2px solid #6971be;
}

.getstarted:hover {
    box-shadow: 0 0 5px #2B292D;
}

.learnmore {
    padding: 18px 30px;
    background-color: #fff;
    border-radius: 5px;

    text-decoration: none;
    color: #3040C4;
    font-weight: bold;
    border-top: 2px solid #ffffff;
}

.learnmore:hover {
    box-shadow: 0 0 5px #2B292D;
}

.promo {
    height: 520px;
    background-color: #EFB9AF;
    background-image: url(/img/img1.png);
    background-repeat: no-repeat;
    background-position: right 200px bottom;
}

.promo .getstarted {
    margin-right: 10px;
    margin-left: 0;
}

.promo__content {
    width: 55%;
}

.promo__content h1 {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 60px;
}

.promo__content p {
    width: 60%;
    margin-bottom: 80px;
    font-size: 24px;
}

.services {
    background-color: #fff;
}

.services__title {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 45%;
    margin-top: 80px;
}

.services__title h2 {
    font-size: 56px;
    font-weight: bold;
}

.services__title p {
    font-size: 24px;
    margin-top: 50px;
}

.services__blocks {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.services__blocks_item {
    width: 33.3%;
    padding-right: 50px;
}

.services__blocks_item:nth-child(n+4) {
    margin-top: 80px;
}

.services__blocks_item h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.services__blocks_item p {
    margin: 10px 0;
}

.services__blocks_item a {
    color: #3040C4;
    font-weight: bold;
}

.features {
    background-color: #F4F5F7;
    margin-top: 100px;

    display: flex;
    padding: 90px 0;

    background-image: url(/img/img2.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 7% auto;

    overflow: hidden;
}

.features .container {
    display: flex;
}

.features__content {
    padding: 0 70px;
    width: 50%;
}

.features__content span {
    font-size: 22px;
    font-weight: bold;
    color: #009B4D;
}

.features__content h2 {
    font-size: 56px;
    font-weight: bold;
    margin: 40px 0;
}

.features__content_p {
    font-size: 24px;
    margin-bottom: 40px;
}

.features__img {
    margin-right: -500px;
    width: 50%;
}

.accordion {
    background-color: #F4F5F7;
    color: #444;
    cursor: pointer;
    padding: 18px 36px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    font-weight: bold;
    transition: 0.4s;
}

.accordion__btn1 {
    background-image: url(/img/icon_accord1.png);
    background-repeat: no-repeat;
    background-position: left center;
    border-bottom: 1px solid #999;
}
.accordion__btn2 {
    background-image: url(/img/icon_accord2.png);
    background-repeat: no-repeat;
    background-position: left center;
    border-bottom: 1px solid #999;
}
.accordion__btn3 {
    background-image: url(/img/icon_accord3.png);
    background-repeat: no-repeat;
    background-position: left center;
    border-bottom: 1px solid #999;
}

.active {
    border: 0;
}

.active, .accordion:hover {
    color: #3142C6;
}

.accordion__btn1.active, .accordion__btn1:hover {
    background-image: url(/img/icon_accord1a.png);
}
.accordion__btn2.active, .accordion__btn2:hover {
    background-image: url(/img/icon_accord2a.png);
}
.accordion__btn3.active, .accordion__btn3:hover {
    background-image: url(/img/icon_accord3a.png);
}

.panel {
    /*padding: 0 18px;*/
    background-color: #F4F5F7;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    line-height: 26px;
}

.panel p {
    padding: 0 0 20px 0;
    border-bottom: 3px solid #3142C6;
}

.contact {
    padding: 80px 0;
}

.contactus {
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
}

.contactus__title {
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 70px;
}

.signup__field_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.signup__field:not(:first-child) {
    margin-top: 20px;
}

.signup__field input {
    width: 100%;
    height: 50px;
    padding: 20px 15px;
    line-height: 36px;
    font-size: 18px;
    border: 1px solid #ddd;
}

.signup__field textarea {
    width: 100%;
    font-size: 18px;
    border: 1px solid #ddd;
    padding: 10px;
}

.contact__btn {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #3040C4;
    border: 0;
    width: 100%;
    padding: 15px 0;
    border-top: 2px solid #6971be;
    margin-top: 30px;
    cursor: pointer;
}

.contact__btn:hover {
    box-shadow: 0 0 5px #2B292D;
}

.start {
    background-color: #F4F5F7;
    padding: 80px 0;
}

.start .container {
    padding-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start__content {
    width: 550px;
    margin-left: 150px;
}

.start__content h2 {
    font-size: 40px;
    font-weight: bold;
}

.start__content p {
    font-size: 22px;
    padding: 30px 0;
}

.start__content input {
    width: 60%;
    height: 50px;
    padding: 20px 15px;
    line-height: 36px;
    font-size: 18px;
    border: 1px solid #ddd;

    margin-right: 10px;
}

.start__content button {
    border: 0;
    padding: 14px 30px;
    background-color: #3040C4;
    border-radius: 5px;

    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-top: 2px solid #6971be;
    cursor: pointer;
}

.start__content button:hover {
    box-shadow: 0 0 5px #2B292D;
}

.start__content_form {
    display: flex;
    align-items: center;
}

.footer {
    padding-top: 60px;
}

.footer__uls {
    border-bottom: 1px solid #ddd;

    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
}

.footer__uls h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 35px;
}

.footer__socials {
    text-align: center;
    padding: 20px 0;
}

.footer__socials a:not(:first-child) {
    margin-left: 20px;
}

.footer__uls ul li {
    opacity: 60%;
    list-style: none;
}

.footer__uls ul li:not(:last-child) {
    margin-bottom: 20px;
}

.footer__uls ul a {
    text-decoration: none;
    color: #2B292D;
}

.footer__uls ul a:hover {
    text-shadow: 0 0 2px #444;
}